.weather {
  position: absolute;
  display: grid;
  box-sizing: border-box;
  border-radius: 30px;
  width: 493px;
  height: 666px;
  margin: 20px 0px 20px 40px;
  z-index: 2;
  background: linear-gradient(
    152.19deg,
    rgba(171, 178, 179, 0.9) -0.04%,
    rgba(83, 91, 230, 0.9) 100%
  );
}

.current-weather-bg {
  position: absolute;
  opacity: 0.2;
  z-index: -1;
}

.top,
.bottom {
  padding: 0px 32px;
  color: #ffffff;
}

/* Styling for top group */
.current-day {
  font-weight: 700;
  font-size: 37px;
  margin: 48px 0 0 0;
}

.current-date {
  margin: 16px 0px;
  font-weight: 500;
  font-size: 22px;
}

.city {
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  margin: 0;
  letter-spacing: 1px;
}

.city img {
  margin-right: 8px;
}

/*Styling for bottom group*/
.weather-description {
  position: absolute;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  bottom: 84px;
  margin: 0;
}

.weather-icon {
  position: absolute;
  bottom: 196px;
  width: 95px;
  height: 95px;
  margin: 0;
}
.temperature {
  position: absolute;
  font-weight: 600;
  font-size: 50px;
  line-height: 61px;
  width: auto;
  margin: 0;
  bottom: 126px;
}

@media (max-width: 960px) {
  .weather {
    margin: 10px 0px;
    width: 100%;
  }
  .current-weather-bg {
    width: 100%;
    height: 100%;
  }
}
